<p>
  <strong>Book Name:</strong>
  <%= @user_book.book.name %>
</p>

<p>
  <strong>Issue Date:</strong>
  <%= @user_book.issue_date.to_s(:long) %>
</p>

<p>
  <strong>Return Date:</strong>
  <%= @user_book.return_date.to_s(:long) if @user_book.return_date.present? %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user_book.status %>
</p>
<% if can? :update, @user_book and @user_book.issued? %>
<%= link_to 'Return Book', edit_user_book_path(@user_book)  %> 
|
<% end %>
<%= link_to 'Back', user_books_path %>
